# Environnement virtuel
.venv/

# Cache Python
__pycache__/
*.pyc

# Notebooks temporaires
.ipynb_checkpoints/


# Données temporaires
data/output/*

#data 
data/train/*
train_data/*.csv
*.pdf
train_final/*
data/suivi
data/factures_brutes_archivees/*
data/factures_classees/*

#log
src/invoice_processing.log
invoice_processing.log

#variable d'environnement
#.env
.vscode

#dossier
FACTURES FOURNISSEURS LUXEMBOURG 2025
invoice_issue

#brouillon notebook
expand.ipynb

#docker
*.tar