# Environnement virtuel
.venv/

# Cache Python
__pycache__/
*.pyc

# Notebooks temporaires
.ipynb_checkpoints/


# Données temporaires
data/output/*

#data train 
data/train/*
train_data/*.csv
*.pdf
train_final/*
data/suivi
archive_facture_brutes.csv

#log
src/invoice_processing.log
invoice_processing.log

#variable d'environnement
#.env
.vscode

#dossier
FACTURES FOURNISSEURS LUXEMBOURG 2025
invoice_issue